# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Envs
.env
.env.*
venv/
.venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# Databases or cache
*.sqlite3
*.db
*.json
*.pickle
*.pkl